:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(224, 224, 224, 0.87);
  background-color: #332b2b;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.form-div {
  padding: 0 5rem;
}

.my-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.btn {
  background-color: #322f2f;
  width: fit-content;
  padding: 0.5rem;
  color: rgb(215, 202, 202);
  font-size: 20px;
  border: 2px solid gray;
}

.btn:hover {
  background-color: bisque;
  color: black;
  transition: ease-in 2s;
}
